# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS files
.DS_Store
Thumbs.db

# Local env files
.env
.env.local
.env.*.local

# TypeScript cache
*.tsbuildinfo

refer/
.mypy_cache/


tools/json_output/
# Ignore Pokemon files with number > 10
assets/pokemon/*
# !assets/pokemon/pm0000/
# !assets/pokemon/pm0001/
# !assets/pokemon/pm0002/
# !assets/pokemon/pm0003/
# !assets/pokemon/pm0004/
# !assets/pokemon/pm0005/
# !assets/pokemon/pm0006/
# !assets/pokemon/pm0007/
# !assets/pokemon/pm0008/
# !assets/pokemon/pm0009/
