# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS files
.DS_Store
Thumbs.db

# Local env files
.env
.env.local
.env.*.local

# TypeScript cache
*.tsbuildinfo

refer/
.mypy_cache/


web/tools/json_output/
web/tools/bnsh/output/

# Ignore Pokemon files with number > 10
assets/remote/models/*
!assets/remote/models/SCVI/pm0000/
!assets/remote/models/SCVI/pm0001/
!assets/remote/models/SCVI/pm0002/
!assets/remote/models/SCVI/pm0003/
!assets/remote/models/SCVI/pm0004/
!assets/remote/models/SCVI/pm0005/
!assets/remote/models/SCVI/pm0006/
!assets/remote/models/SCVI/pm0007/
!assets/remote/models/SCVI/pm0008/
!assets/remote/models/SCVI/pm0009/

